*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}
.navigation{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(229, 229,229, 0.5);
}

.navigation ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.navigation a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
.navigation ul li:hover a{
    background-color: black;
    color: #ffffff;
}
.header{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}
.header p{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    color: blue;
    margin: 10px 10px;
}